@font-face{
	font-family:"font-bebasneue";
	src:url("../fonts/BebasNeue-Regular.otf") format("opentype");
}

body, html{
	height:100%;
	font-family: "century gothic";
}

h1, h2, h3, h4, h5, h6{
	font-family:"font-bebasneue";
	text-transform: uppercase;
}

h1{
	color: #b78459;
	font-size: 28px;
	letter-spacing: 3px;
}

strong{
	font-weight: normal;
}

/* --- navbar --- */
.navbar{
	position:fixed;
	z-index:100;
	font-family:"font-bebasneue";
	letter-spacing:5px;
	font-size:14px;
	top: 0;
	width:100%;
	background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
	min-height: 75px;
}

.nav-item .border-bottom{
	border-bottom: 2px solid !important;
	width: 20px;
}

.nav-link:hover{
	color:#b78459 !important;
}

.navbar-bg{
	min-height: 75px;
	background-color:#f0f0f0;
}

.navbar-brand > img{
	width: 70%;
}

/* --- carousel --- */
.container-main-img{
	width: 100%;
	margin: auto;
	position: relative;
	background-size: cover;
	overflow: hidden;
}

/* --- main-text --- */
.container-main-text{
	background-color:#0c0c0c;
	padding: 0 5%;
}
	.container-main-text .row .col-sm-5{
		padding: 2% 0;
	}
	.container-main-text .text-top{
		text-align: center;
		letter-spacing: 10px;
		padding: 25% 10% 10% 10%;
		width: 100%;
	}

	.text-top h2{
		color: white;
	}

	.text-top h3{
		color: #b78459;
	}

.container-main-text > .row{
	display: block;
}

.container-main-text .text-bottom{
	padding: 0 10%;
}

.container-main-text .text-bottom > p{
	text-align: justify;
	font-size: 14px;
	color: white;
}

.container-main-text .text-bottom > a > .row{
	margin-top: 40px;
	background-color: #b78459;
	color: white;
} 

.container-main-text .text-bottom .row > h5{
	letter-spacing: 3px;
	font-size: 14px;
	width: 100%;
	text-align: right;
}

.container-main-text .text-bottom a{
	text-decoration: none;
	color: white;
}

.container-main-text .text-bottom > a > .row:hover{
	background-color: white;
	color: #0c0c0c;
	transition: all .5s ease-out;
}

/*--- email box ---*/
.container-email-box{
	min-height:80%;
	background: url(../images/emailbox-bg.jpg) center 100% no-repeat;
	background-size: cover;
	background-position-y: 0;
	position: relative;
}

.container-email-box::after{
	content: '';
	display: block;
	width: 100%;
	height: 90%;
	background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
	position: absolute;
	bottom: 0;
}

	.container-email-box .transparent-box .row p{
		font-size:12px;	
	}

.transparent-box{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	background-color: rgba(255,255,255,.3);
}

	.transparent-box .row > h3{
		letter-spacing:3px;
		color: #0c0c0c;
		font-size:18px;
		padding: 0 10px;
		text-align: center;
	}

.pt-10{
	padding-top: 10%;
}

.pt-5{
	padding-bottom: 5%;
}

.form-row .right-start, .form-row .col-auto{
	position: relative;
}

	.form-row .right-start .form-control{
		position: absolute;
		right: 0;
	}

.margin-top{
	margin-top: 150px;
}

.page-title h6{
	font-size: 30px;
	color: #b78459;
	letter-spacing: 20px;
}

/*--- about-us ---*/
.about-us p{
	text-align: justify;
	font-size: 14px;
	line-height: 30px;
}

.about-us ul li{
	font-family: "century gothic";
	font-size: 14px;
	line-height: 30px;
}

.about-us h6{
	padding-top: 5%;
	text-align:center;
	letter-spacing: 3px;
}

.about-us .sub-title{
	color: #b78459;
	font-size: 26px;
}


/*--- contact us ---*/
.contact-us p{
	line-height: 50px;
	text-align: justify;
	font-size: 14px;
	letter-spacing: 3px;
}

.contact-name{
	font-size: 22px !important;
	color: #b78459;
	letter-spacing: 3px;
}

.border-bottom-contact{
	border-bottom: 1px solid #b78459;
	padding-top: 5%;
}

.border-bottom-contact p{
	height: 30px;
	color: #b78459;
	font-style: italic;
	font-size: 14px;
}

.contact-info p{
	font-size: 12px;
}

.contact-info a{
	color: black;
}


/*--- footer ---*/
.footer{
	background-color: #0c0c0c;
	color: white;
	min-height: 220px;
}

	.footer h6{
		letter-spacing: 10px;
	}

.footer .container .row a i{
	font-size: 26px;
	color: grey;
}
	.footer .container .row a i:hover{
		color: #b78459;
	}

.text-grey{
	color: grey;
}


@media (max-width:575px){
	.container-main-text .image-col{
		text-align: center;
	}
}

@media (min-width:575px){

	h1{
		font-size: 34px;
		letter-spacing: 3px;
	}

	.content-name h5{
		padding-top: 130px;
		font-size: 40px;
		letter-spacing: 6px;
		color: white;
		text-shadow: 2px 2px #0c0c0c;
	}

}

@media (min-width:768px){
	.container-main-text .text-bottom > p{
		font-size: 16px;
	}

	.container-main-text > .row{
		display: flex;
	}

	.container-main-text{
		background-color:#0c0c0c;
		padding: 0 5%;
	}

	.container-main-text img{
		width: 80%;
	}

	.contact-info p{
		font-size: 14px;
	}

	.border-bottom-contact p{
		font-size: 18px;
	}

	.contact-name{
		font-size: 26px !important;
		letter-spacing: 5px;
	}

	
	.transparent-box .row > h3{
		letter-spacing: 8px;
		font-size:20px;
	}
	
	.container-email-box .transparent-box .row p{
		font-size:16px;	
	}
	
	.about-us h6{
		padding-top: 0;
		text-align:left;
		letter-spacing: 10px;
	}

	.about-us .sub-title{
		color: #b78459;
		font-size: 30px;
	}

	h1{
		font-size: 40px;
		letter-spacing: 3px;
	}

	.content-name h5{
		padding-top: 230px;
		font-size: 60px;
		letter-spacing: 8px;
		color: white;
		text-shadow: 2px 2px #0c0c0c;
	}

	.about-us p, .about-us ul li{
		line-height: 45px;
		letter-spacing: 3px;
	}


	.footer{
		min-height: 100px;
	}
}

@media (min-width:992px){
	.contact-info p{
		font-size: 16px;
	}

	.border-bottom-contact p{
		font-size: 20px;
	}

	.transparent-box .row > h3{
		letter-spacing: 10px;
		font-size:22px;
	}
	
	.container-email-box .transparent-box .row p{
		font-size:18px;	
	}
}